<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587705533389-csa67u9c6dri4atm1mm4rals0nbanddg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587705533389-csa67u9c6dri4atm1mm4rals0nbanddg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>587705533389-5ep02lrune7htpsja6l55fmf8g7h5ian.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArq9br4oRoZFCh8Wqb9s3A2Zmv0Iz87KY</string>
	<key>GCM_SENDER_ID</key>
	<string>587705533389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nami.pharmaTechDriver</string>
	<key>PROJECT_ID</key>
	<string>pharma-tech-4613f</string>
	<key>STORAGE_BUCKET</key>
	<string>pharma-tech-4613f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587705533389:ios:b91b367f19113863fcba84</string>
</dict>
</plist>